<nav class="navbar main-navbar desktop-header">
    <div class="navbar-menu left">
        <ul>
            <li><a href="{{ 'home'|page }}">Home</a></li>
            <li><a href="{{ 'tours'|page }}">Tours & Activities</a></li>
        </ul>
    </div>
    <div class="navbar-brand center">
        <a href="{{ 'home'|page }}">
            <img src="{{ 'assets/images/logo.png'|theme }}" alt="Real Tours & Safaris" class="main-logo">
        </a>
    </div>
    <div class="navbar-menu right">
        <ul>
            <li><a href="{{ 'accommodation'|page }}">Accommodation</a></li>
            <li><a href="{{ 'about'|page }}">About Us</a></li>
        </ul>
    </div>
</nav>
